/* Background image */
body{
    background: url("../images/hipster_finn.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Google Fonts */
 #title-font, #subtitle-font, #button, h3{
     font-family: 'Gloria Hallelujah', cursive;
 }

 .wordSearched, .urbanDef, .urbanEx, .oxDef{
    font-family: 'Oswald', sans-serif;
 }
/* Buffer for top of page */
 #top-buffer{
     height: 10px;
 }
/* Api data is printed with bold font for easier readability */
 .userInput, .urbanDef, .urbanEx, .oxDef{
     font-weight: bold;
 }
 
/* Media Queries  for various browser window sizes*/
 @media only screen and (max-width: 1200px){
    body{
        background: url("../images/hipster_finn_1200.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 }

 @media only screen and (max-width: 991px){
    body{
        background: url("../images/hipster_finn_975.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 }

 @media only screen and (max-width: 768px){
    body{
        background: url("../images/hipster_finn_767.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 }
/* Media Query for mobile devices, background image has lowered opacity for easier readability */
@media only screen and (max-width: 736px){
    body{
        background: url("#") no-repeat center center fixed;
    }

    #wrapper{
        background-size: cover;
        display: block;
        position: relative;
    }

    #wrapper::after{
        content: "";
        background: url(../images/hipster_finn_767.png);
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
        height: 1000px;
    }
 }

@media only screen and (max-width: 667px){
    body{
        background: url("#") no-repeat center center fixed;
    }

    #wrapper{
        background-size: cover;
        display: block;
        position: relative;
    }

    #wrapper::after{
        content: "";
        background: url(../images/hipster_finn_767.png);
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
        display: block;
    }
 }

@media only screen and (max-width: 576px){
    body{
        background: url("#") no-repeat center center fixed;
    }

    #wrapper{
        background-size: cover;
        display: block;
        position: relative;
    }

    #wrapper::after{
        content: "";
        background: url(../images/hipster_finn_mobile.png);
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
        display: block;
    }
 }

