body{
    background: url("../images/hipster_finn.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 #title-font, #subtitle-font, #button{
     font-family: 'Gloria Hallelujah', cursive;
 }

 #top-buffer{
     height: 10px;
 }