body{
    background: url("../images/hipster_finn.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 #title-font, #subtitle-font, #button{
     font-family: 'Gloria Hallelujah', cursive;
 }

 #top-buffer{
     height: 10px;
 }

 @media only screen and (max-width: 1200px){
    body{
        background: url("../images/hipster_finn_1200.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 }

 @media only screen and (max-width: 991px){
    body{
        background: url("../images/hipster_finn_975.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 }

 @media only screen and (max-width: 767px){
    body{
        background: url("../images/hipster_finn_767.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 }

 @media only screen and (max-width: 320px){
    body{
        background: url("../images/hipster_finn_SE.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 }

